<mat-sidenav-container class="sidenav-container" *ngIf="showShell">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>Reports</mat-toolbar>

    <mat-nav-list>
      <ng-container *ngFor="let menu of menus">
      <a mat-list-item routerLink="{{menu.path}}" routerLinkActive="active">{{menu.data.linkText}}</a>
      </ng-container>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="material-icons">assessment</span>
      <span>Report</span>
    </mat-toolbar>
    <!-- Add Content Here -->

    <router-outlet (deactivate)="onPrimaryDeactivate($event)"
                   (activate)="onPrimaryActivate($event)"></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>


<router-outlet name="noshell"
               (deactivate)="onNoShellDeactivate($event)"
               (activate)="onNoShellActivate($event)"></router-outlet>
